<header>    
    <div class="texto-header">
        <h1>Integrantes del grupo <span class="badge badge-primary shadow">4</span></h1>
        <h5>Stay safe &#10003;</h5>
    </div>     
    <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-4.22,15.28 C192.71,173.19 354.12,-67.59 500.00,49.98 L524.54,152.45 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div>
            <div class="wrap my-3">
                <div class="tarjeta-wrap mt-4">
                <div class="tarjeta">
                    <div class="adelante imagen1"></div>            
                    <div class="atras pt-5">
                        <h1>Alex Medrano Méndez</h1>
                        <h4>Full-Stack</h4>
                    </div>
                </div>
            </div>
                
            <div class="wrap my-3">
                <div class="tarjeta-wrap">
                    <div class="tarjeta">
                        <div class="adelante imagen2"></div>                
                        <div class="atras pt-5">
                            <h1>Sergio Marino Jáquez Espinal</h1>
                            <h4>Lider y Full-Stack </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap my-3">
                <div class="tarjeta-wrap">
                    <div class="tarjeta">
                        <div class="adelante imagen4"></div>
                        <div class="atras pt-5">
                            <h1>Yey Abreu Roman</h1>
                            <h4>Front-end</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <main>
            <div class="contenedor sobre-nosotros mt-4">
                <h2 class="titulo">Nuestro Proposito</h2>
                <div class="contenedor-sobre-nosotros">
                    <img src="../../../assets/imagenes/niño.jpeg" alt="" class="img-fluid img-thumbnail mr-4">
                    <div class="contenido-textos">
                        <h3><span class="badge badge-dark mr-1 rounded-circle">1</span>¿Que es Stay Safe?</h3>
                        <p>Es una aplicacion web que será accesible para jóvenes, adultos y niños, en ella se mostrará informacion
                             relevante acerca de el coronavirus, cosas como: Que podemos hacer para evitar contagiarnos?, Videos
                              recreativos para niño sobre el tema etc.</p>
                        <h3><span class="badge badge-dark mr-1 rounded-circle">2</span>Informaciones Reales</h3>
                        <p>Nuestro Proposito es evitar que las personas sigan recibiendo informacion falsa acerca de la pandemia de parte de informaciones secundarias. </p>
                        
                    </div>
                </div>
            </div>
        </main>
    

        <hr>


        <h2 class="text-center mt-5">Contactanos</h2>
        <div class="col-md-10 mx-auto mr-5 mt-5 mb-5">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="fname">Nombre</label>
                            <input type="text" id="fname" name="firstname" class="form-control" placeholder="Tu nombre..">
                        </div>
                        <div class="form-group">
                            <label for="tel">Telefono</label>
                            <input type="tel" id="tel" name="tel" class="form-control" placeholder="Tu telefono..">
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electronico</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Tu Correo electronico..">
                        </div>
                        <div class="form-group">
                            <label for="subject">Comentario</label>
                        <textarea id="subject" name="subject" class="form-control" placeholder="Escribe algo.." style="height:76px"></textarea>
                        </div>
                
                        <input class="btn btn-block btn-primary" type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>