<header>
      
    <section class="textos-header">
        <h1>M&eacute;todos de protecci&oacute;n contra el</h1>
        <h2>COVID-19</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg></div>
</header>

<div class="container">
    <div class="row justify-content-center">
        
        
        
    
        <div>
            <section class="portafolio rounded mt-4" style="box-shadow: 0 0 5px;">
                <div class="contenedor">
                    <h2 class="titulo">Herramientas que te protegen contra el COVID-19</h2>
                    <div class="galeria-port">
                        <div class="imagen-port">
                            <img src="../../../assets/imagenes/mascarilla.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="../../../assets/imagenes/icono1.png" alt="">
                                <p>Mascarilla</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="../../../assets/imagenes/guantes.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="../../../assets/imagenes/icono1.png" alt="">
                                <p>Guantes</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="../../../assets/imagenes/gel.jpeg" alt="">
                            <div class="hover-galeria">
                                <img src="../../../assets/imagenes/icono1.png" alt="">
                                <p>Manitas Limpias</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="../../../assets/imagenes/jabon.jpg " alt="">
                            <div class="hover-galeria">
                                <img src="../../../assets/imagenes/icono1.png" alt="">
                                <p>Jab&oacute;n</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="../../../assets/imagenes/masca.PNG" alt="">
                            <div class="hover-galeria">
                                <img src="../../../assets/imagenes/icono1.png" alt="">
                                <p>Cuidate</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="../../../assets/imagenes/guantes1.jpeg" alt="">
                            <div class="hover-galeria">
                                <img src="../../../assets/imagenes/icono1.png" alt="">
                                <p>Cuidate</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="../../../assets/imagenes/manitas.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="../../../assets/imagenes/icono1.png" alt="">
                                <p>Cuidate</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="../../../assets/imagenes/jabon1.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="../../../assets/imagenes/icono1.png" alt="">
                                <p>Cuidate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="my-5" color="black" style="height: 1px; background: linear-gradient(to right, #00000013,#000,#00000013);">
            <section class="clientes contenedor">
                <h2 class="titulo">Precauci&oacute;n</h2>
                <div class="card-deck text-center justify-content-center">
                    <div class="card" style="max-width: 22rem;">
                        <img src="../../../assets/imagenes/cajero.jpg" class="card-img-top img-fluid img-thumbnail rounded-circle w-50 my-4 mx-auto" alt="">
                        <div class="card-body">
                            <h4>CAJERO</h4>
                            <p>Si vas a retirar dinero del cajero, evita contagiarte colocandote a 1 metro de distancia de la otra persona</p>
                        </div>
                    </div>
                    <div class="card" style="max-width: 22rem;">
                        <img src="../../../assets/imagenes/transporte.jpg" class="card-img-top img-fluid img-thumbnail rounded-circle w-50  my-4 mx-auto" alt="">
                        <div class="card-body">
                            <h4>Transporte p&uacute;blico</h4>
                            <p>Evitar utilizar transporte p&uacute;blico por el tumulto de personas. </p>
                        </div>
                    </div>
                </div>
                
            </section>
            <hr class="my-5" color="black" style="height: 1px; background: linear-gradient(to right, #00000013,#000,#00000013);">
            <section class="about-services mb-5" style="box-shadow: 0 0 5px;">
                <div class="contenedor">
                    <h2 class="titulo">Medidas a Tomas a la hora de salir de casa</h2>
                    <div class="servicio-cont">
                        <div class="servicio-ind">
                            <img src="../../../assets/imagenes/manolimpia.jpg" alt="">
                            <h3>Lavandose las manos</h3>
                            <p>Es nuestro Compromiso limpiarnos las manos con frecuencia.</p>
                        </div>
                        <div class="servicio-ind">
                            <img src="../../../assets/imagenes/toser.jpg" alt="">
                            <h3>Cubrirse la boca</h3>
                            <p>Debemos de cubrirnos la boca al toser y estornudar.</p>
                        </div>
                        <div class="servicio-ind">
                            <img src="../../../assets/imagenes/contacto.jpg" alt="">
                            <h3>Evitar contacto directo</h3>
                            <p>Es deber de cada persona de cuidarse a la hora de estar frente al otra</p>
                        </div>
                        
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>